*{
    margin: 0;
    padding: 0;
}

.split{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left, .right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    width: 100vw;
    height: auto;
}

.left > img {
    width: 100%;
    height: 100%;
}

.right {
    border-radius: 22px;
}

.right form{
    width: 328px;
}

.logo {
    margin-left:30px;
}
form input[type=text],
form input[type=password],
form input[type=email] {
    display: block;
    width: 100%;
    padding: 8px;
    border-left: #003D61 1px solid;
    border-bottom: #003D61 1px solid;
    border-top: none;
    border-right: none;
    font-size: 16px;
    color: #003D61;
    outline:none;
}

label {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #003D61;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    text-align: center;
    color: #003D61;
}

p >a{
    color:#ED2980;
}
button{
    background-color: #003D61;
    width: 100%;
    height: 50px;
    font-family:'Open Sans', sans-serif;
    color: white;
    margin-top: 20px;
    border-radius: 6px;
    outline: none;
}

.socials{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (min-width:900px){
    .split{
        flex-direction: row;
        justify-content: space-around;
        height: 100vh;
    }

    .left, .right{
        display: flex;
        height: auto;
    }
    .left{
        width: 50vw;
        height: auto;
    }
}